<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CPSC113 Todo</title>
</head>
<body>


    {{{body}}}

<footer>
    <a href="/user/logout" class="logout">Logout</a>
</footer>
</body>
</html>
