<h1>Example App: Home</h1>

<div>
    We currently have {{userCount}} users.
    {{#if currentUser}}
        Your name is <b>{{currentUser.name}}</b>
    {{/if}}
</div>

{{#if errors}}
<div style="color:red">
    {{errors}}
</div>
{{/if}}

<div>
    <form class="login-form" action="/user/login" method="POST">
        <label for="email">Email</label>
        <input name="email" type="text"><br>
        <label for="password">Password</label>
        <input name="password" type="text"><br>
        <input type="submit">
    </form>
</div>

<div><hr></div>

<div>
    <form action="/user/register" method="post" class="signup-form" style="display: block;">
      <input name="fl_name" type="text" class="text-input" placeholder="first &amp; last name">
      <input name="email" type="email" class="text-input" placeholder="email">
      <input name="password" type="password" class="text-input" placeholder="password">
      <input name="password_confirmation" type="password" class="text-input" placeholder="password confirmation">
      <div>
        <button class="blue sign-up-submit">Sign Up</button>
      </div>
    </form>
</div>